:root {
  --background-black: #121212;
  --white: #ffffff;
  --green: #7aea29;
  --button-background: #1e1e1e;
  --gray: #b6b6b6;
  --transition: all 0.3s ease-in-out;
  --nav-button-background: rgba(62, 62, 62, 0.2588235294);
  scroll-behavior: smooth;
  --github-filter-invert: invert(100%);
  --styled-components-img-filter: brightness(1);
  --faded-gray: #858585;
  --app-description-background: rgba(12, 11, 11, 0.5019607843);
  --project-button-hover: #333;
  --project-button-text: #7aea29;
  --exp-secondary-faded-text: #b6b6b6;
  --exp-dots: #ffffff;
  --icons-outline: none;
  --neon-button-hover-before-opacity: 1;
  --neon-button-before-opacity: 0.7;
  --neon-box-shadow: inset 0 0 0.5em 0 var(--green), 0 0 0.5em 0 var(--green);
  --neon-text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3019607843), 0 0 0.45em var(--green);
  --neon-box-shadow-after: 0 0 2em 0.5em var(--green);
  --line-background: rgba(255, 255, 255, 0.1019607843);
}

.light-mode {
  --background-black: #F9F5EB;
  --white: #000000;
  --green: #002B5B;
  --button-background: #1e1e1e;
  --gray: #b6b6b6;
  --github-filter-invert: invert(0%);
  --styled-components-img-filter: brightness(.8);
  --faded-gray: #858585;
  --app-description-background: #f9f5ebbd;
  --project-button-hover: var(--green);
  --project-button-text: #fff;
  --exp-secondary-faded-text: #000000b5;
  --exp-dots: var(--green);
  --icons-outline: 1px solid black;
  --neon-button-hover-before-opacity: 0;
  --neon-button-before-opacity: 0;
  --button-background: #fff;
  --neon-box-shadow: none;
  --neon-text-shadow: none;
  --neon-box-shadow-after: none;
  --line-background: #4242421a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-black);
  color: var(--white);
  font-family: "Sono", sans-serif;
  overflow-x: hidden;
  transition: var(--transition);
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 22%;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 0;
  margin: 0 auto;
}
nav a {
  color: var(--white);
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin: 0 0.1rem;
  height: 42px;
}
nav ul li:hover {
  background-color: var(--nav-button-background);
  border-radius: 0.3rem;
}
nav ul li a {
  color: var(--white);
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
nav .buttons {
  display: flex;
}
nav .buttons button {
  background-color: var(--background-black);
  color: var(--white);
  height: 42px;
  width: 45px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav .buttons button:hover {
  background-color: var(--nav-button-background);
}
nav .buttons button i {
  transform: scale(1.8);
}
nav .buttons button .sun {
  display: none;
}
nav .buttons button .moon {
  display: none;
}
nav .buttons a {
  width: 45px;
  height: 42px;
  background-color: var(--background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
nav .buttons a i {
  transform: scale(1.3);
}
nav .buttons a:hover {
  background-color: var(--nav-button-background);
}

section {
  padding: 3% 0.4rem !important;
  width: 100%;
}
section h1 {
  font-size: 2rem;
}
section .small-icon {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  box-shadow: 0 0 0 0.7px black;
}
section .experience-div {
  position: relative;
  padding-top: 1.5rem;
}
section .experience-div .card {
  margin: 1rem 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
section .experience-div .card .info {
  padding-left: 1rem;
}
section .experience-div .card .info h3 {
  font-size: 1.2rem;
}
section .experience-div .card .info h4 {
  font-size: 1rem;
  color: var(--exp-secondary-faded-text);
}
section .experience-div .card .info p {
  font-size: 0.9rem;
  color: var(--exp-secondary-faded-text);
}
section .experience-div .card-wrapper {
  border-left: 1px solid var(--green);
}
section .experience-div .card-wrapper .dot-1, section .experience-div .card-wrapper .dot-5, section .experience-div .card-wrapper .dot-4, section .experience-div .card-wrapper .dot-3, section .experience-div .card-wrapper .dot-2 {
  width: 10px;
  height: 10px;
  background-color: var(--exp-dots);
  position: absolute;
  left: -5px;
  top: 16%;
  border-radius: 50%;
}
section .experience-div .card-wrapper .dot-2 {
  top: 40%;
}
section .experience-div .card-wrapper .dot-3 {
  top: 64%;
}
section .experience-div .card-wrapper .dot-4 {
  top: 87%;
}
section .experience-div .card-wrapper .dot-5 {
  top: 56%;
}
section .experience-div .card-wrapper:after {
  transition: all ease-in-out 0.3s;
  background-color: var(--green);
  content: "";
  display: block;
  height: 2px;
  width: 0;
}
section .experience-div .card-wrapper:hover:after {
  width: 100%;
}

.sec-1 {
  display: flex;
  align-items: flex-start;
  padding: 5% 0;
  justify-content: space-between;
}
.sec-1 .bio h1 {
  color: var(--green);
  font-size: 4.5rem;
}
.sec-1 .bio p {
  text-align: left;
  margin-top: 1.2rem;
  font-size: 1rem;
}
.sec-1 .bio p span {
  color: var(--green);
  font-weight: bolder;
}
.sec-1 .bio p a {
  color: var(--gray);
  font-size: 1.4rem;
  transition: all 0.1s ease-in-out;
  letter-spacing: 0.15rem;
}
.sec-1 .bio p a:hover {
  color: var(--green);
}
.sec-1 .bio p a:hover i {
  margin-left: 1.1rem;
}
.sec-1 .bio p i {
  font-size: 1.3rem;
  margin-left: 0.4rem;
  transition: all 0.3s ease-in-out;
}
.sec-1 .bio .description-p {
  font-size: 0.9rem;
}
.sec-1 .pfp-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.sec-1 .pfp-wrapper img {
  height: 220px;
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.sec-2 .skills-div {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sec-2 .skills-div img {
  width: 60px;
  height: 60px;
  justify-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec-2 .skills-div .github-img {
  filter: var(--github-filter-invert);
}
.sec-2 .skills-div .react-img:hover {
  transform: rotate(13000deg);
  transition: all 50s linear;
}
.sec-2 .skills-div .styled-components-img {
  filter: var(--styled-components-img-filter);
}
.sec-2 .skills-div p {
  border-bottom: 1px solid var(--green);
  padding: 0.5rem 0;
  font-size: 1.5rem;
  position: relative;
}
.sec-2 .skills-div p .highlight-skill {
  font-weight: 600;
  margin-left: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sec-2 .skills-div p i {
  padding-right: 1rem;
  position: absolute;
  top: 27%;
  transition: all 0.15s ease-in-out;
}
.sec-2 .skills-div p:hover i {
  margin-left: 0.5rem;
  color: var(--green);
}
.sec-2 .skills-div .skills-pack {
  display: flex;
  font-size: 8px;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.sec-2 .skills-div .skills-pack p {
  font-size: 12px;
  border: none;
  text-align: center;
}

.project-div-hidden {
  opacity: 0 !important;
  transition: all 1.3s !important;
  transform: translateX(-20px) !important;
}

.project-div-show {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.skills-pack-hidden {
  opacity: 0 !important;
  transition: all 0.5s !important;
  transform: translateY(80px) !important;
}

.skills-pack-show {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.bio-text-hidden {
  opacity: 0 !important;
  transform: translateX(-60px) !important;
  display: inline-block;
}

.bio-text-show {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.small-icon-hidden {
  opacity: 0 !important;
  transition: all 1s !important;
  transform: translateX(-20px) !important;
}

.small-icon-show {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.info-hidden {
  opacity: 0 !important;
  transition: all 1s !important;
  transform: translateX(20px) !important;
}

.info-show {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.languages-container-hidden {
  opacity: 0 !important;
  filter: blur(10px);
  transition: all 1s !important;
  transform: translateY(20px) !important;
}

.languages-container-show {
  opacity: 1 !important;
  transform: translateY(0px) !important;
  filter: blur(0);
}

.sec-4 .languages-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.4rem;
  border-radius: 5px;
}
.sec-4 .languages-container p {
  display: block;
  height: 50px;
  width: 100%;
  padding: 1rem 2rem;
  transition: all 0.4s ease-in-out;
}
.sec-4 .languages-container div {
  display: flex;
}
.sec-4 .languages-container div:hover .new, .sec-4 .languages-container div:hover .english {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.sec-4 .languages-container div:hover .old {
  opacity: 0;
}
.sec-4 .languages-container div:hover .new::after, .sec-4 .languages-container div:hover .english::after {
  width: 100px;
}
.sec-4 .languages-container div .old {
  opacity: 1;
  position: absolute;
}
.sec-4 .languages-container div .new, .sec-4 .languages-container div .english {
  opacity: 0;
  position: absolute;
}
.sec-4 .languages-container div .new:after, .sec-4 .languages-container div .english:after {
  width: 0%;
  height: 2px;
  color: var(--green);
  display: block;
  background-color: var(--green);
  content: "";
  transition: all 0.2s ease-in-out;
}
.sec-4 .languages-container div .english {
  opacity: 1;
}
.sec-4 .languages-container div .new, .sec-4 .languages-container div .english, .sec-4 .languages-container div .old {
  transition: opacity 0.3s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.sec-3 .project-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-3 .project-container .project-div {
  box-shadow: var(--green) 0px 3px 15px 0px;
  margin-top: 3rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.sec-3 .project-container .project-div .links {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: -1;
}
.sec-3 .project-container .project-div .links .live-link,
.sec-3 .project-container .project-div .links .code-link {
  display: inline-block;
  margin: 0 25px;
  padding: 9px 15px;
  border-radius: 4px;
  background-color: var(--background-black);
  color: var(--green);
  text-decoration: none;
  font-size: 25px;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 1px #555;
}
.sec-3 .project-container .project-div .links .live-link:hover,
.sec-3 .project-container .project-div .links .code-link:hover {
  background-color: var(--project-button-hover);
  box-shadow: inset 0 0 0 2px var(--green);
  color: var(--project-button-text);
}
.sec-3 .project-container .project-div .for-link {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.sec-3 .project-container .project-div .for-link .project-text {
  padding: 6px 6px;
}
.sec-3 .project-container .project-div .for-link .project-text p {
  margin-top: 8px;
}
.sec-3 .project-container .project-div .hover-text-div {
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: -1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
  height: 50%;
  padding: 1rem;
}
.sec-3 .project-container .project-div .hover-text-div .app-description {
  text-align: center;
  max-height: 100%;
  background-color: var(--app-description-background);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sec-3 .project-container .project-div .hover-text-div .app-description::-webkit-scrollbar {
  display: none; /* chrome, safari, opera */
}
.sec-3 .project-container .project-div .hover-text-div p {
  color: var(--white);
  padding: 0.2rem 0.1rem;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  margin-bottom: 0.5rem;
}
.sec-3 .project-container .project-div .hover-text-div h1 {
  font-size: 1rem;
  color: var(--green);
  margin-bottom: 0.1rem;
}
.sec-3 .project-container .project-div .project-onhover-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 100%;
}
.sec-3 .project-container .project-div img {
  width: 100%;
  border-radius: 0.5rem;
}
.sec-3 .project-container .project-div a {
  color: var(--white);
}
.sec-3 .project-container .project-div p {
  color: var(--faded-gray);
}
.sec-3 .project-container .project-div:hover {
  box-shadow: var(--green) 0px 0px 25px 1px;
}
.sec-3 .project-container .project-div:hover .for-link {
  filter: blur(5px);
}
.sec-3 .project-container .project-div:hover .links {
  opacity: 1;
  z-index: 100;
}
.sec-3 .project-container .project-div:hover .hover-text-div {
  opacity: 1;
  z-index: 101;
}

footer .footer-flex-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-flex-container .contact-icons {
  margin-bottom: 2rem;
  display: flex;
}
footer .footer-flex-container .contact-icons i {
  margin: 0 0.8rem;
  font-size: 2rem;
}
footer .footer-flex-container .contact-icons span span {
  display: none;
}

.neon-button {
  font-size: 0.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0.4rem 0;
  margin: 1rem 1.9rem;
  border-radius: 0.25em;
  position: relative;
  color: var(--green);
  border: var(--green) 0.125em solid;
  text-shadow: var(--neon-text-shadow);
  box-shadow: var(--neon-box-shadow);
}

.neon-button::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(2.5em) rotateX(45deg) scale(0.8, 0.3);
  filter: blur(1.5em);
  opacity: var(--neon-button-before-opacity);
  pointer-events: none;
  background: var(--green);
}

.neon-button.active::before {
  animation: scalingShadow 0.5s ease-in-out;
}

@keyframes scalingShadow {
  0% {
    top: 120%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  }
  50% {
    top: 165%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.75, 0.3);
  }
  100% {
    top: 120%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  }
}
.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
  box-shadow: var(--neon-box-shadow-after);
  background-color: var(--green);
}

.neon-button:hover::before {
  opacity: var(--neon-button-hover-before-opacity);
}

.neon-button:hover::after {
  opacity: 1;
}

.neon-button:hover {
  outline: none;
  color: var(--button-background);
  text-shadow: none;
}

.active {
  animation: animate 0.5s ease-in-out;
}

@keyframes animate {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0%);
  }
}
.lines {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100vw;
  z-index: -3;
}

.line-right {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 19%;
  background: var(--line-background);
  overflow: hidden;
}
.line-right::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--green) 75%, var(--green) 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line-left {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 20.5%;
  background: var(--line-background);
  overflow: hidden;
}
.line-left::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--green) 75%, var(--green) 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-delay: 2s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
@media screen and (max-width: 1200px) {
  nav ul {
    flex-wrap: wrap;
  }
  nav ul li {
    padding: 0.6rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .sec-1 .bio h1 {
    font-size: 5rem;
  }
  .sec-1 .bio p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 2200px) {
  .sec-1 .bio {
    padding-right: 3rem;
  }
  .sec-1 .pfp-wrapper {
    margin-right: 5rem;
    margin-top: 4rem;
  }
  .sec-1 .pfp-wrapper img {
    transform: scale(1.8);
  }
  .sec-2 .skills-div .skills-pack p {
    font-size: 22px;
  }
  .sec-2 .skills-div .skills-pack img {
    width: 90px;
    height: 90px;
  }
  html {
    font-size: 1.9rem;
  }
  .buttons #dark-mode {
    font-size: 1rem;
  }
  .buttons button {
    margin-right: 1rem;
  }
  .sec-4 .languages-container p {
    padding: 2rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .sec-1 .pfp-wrapper img {
    width: 180px;
    height: 180px;
  }
  .sec-1 .bio h1 {
    font-size: 3.7rem;
  }
}
@media screen and (max-width: 850px) {
  nav {
    padding-bottom: 0.3rem !important;
    border-bottom: 1px solid var(--green);
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
  }
  nav .buttons {
    margin-top: 0.3rem;
  }
  nav .navbar-name {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
  nav ul {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .sec-2 .skills-div {
    grid-template-columns: repeat(3, 1fr);
  }
  .sec-2 .skills-div img {
    width: 45px;
    height: 45px;
  }
  .wrapper {
    padding: 0 10%;
  }
  .sec-6 a {
    font-size: 0.8rem;
  }
  section h1 {
    font-size: 1.8rem;
  }
  footer h1 {
    font-size: 1.8rem;
  }
  .line-left {
    right: 8%;
  }
  .line-right {
    left: 6%;
  }
  .neon-button {
    transform: scale(0.8);
    margin: 0 0.9rem;
  }
}
@media screen and (max-width: 550px) {
  .sec-1 .pfp-wrapper img {
    width: 150px;
    height: 150px;
  }
  .sec-4 .languages-container p {
    padding: 1rem 0.8rem;
    font-size: 14px;
  }
  .sec-4 .languages-container div:hover .new::after, .sec-4 .languages-container div:hover .english::after {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .navbar-name {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
  .sec-1 {
    display: grid;
    grid-template-columns: 216px 1fr;
  }
  .sec-1 .bio h1 {
    font-size: 2.3rem;
  }
  .sec-1 .bio p {
    font-size: 0.8rem;
  }
  .sec-1 .bio p a {
    letter-spacing: 0;
    position: absolute;
    width: 80%;
    font-size: 1.2rem;
  }
  .sec-1 img {
    transform: scale(0.8);
  }
  .sec-2 {
    margin-top: 1.5rem;
  }
  .sec-2 .skills-div {
    margin-top: 0.4rem;
  }
  .sec-2 .skills-div p {
    font-size: 1.3rem;
  }
  section .experience-div {
    margin-top: -0.5rem;
  }
  section .experience-div .card-wrapper .card {
    margin: 0.5rem 0;
  }
  section .experience-div .card-wrapper .card img {
    transform: scale(0.8);
  }
  section .experience-div .card-wrapper .card .info h3 {
    font-size: 1rem;
  }
  section .experience-div .card-wrapper .card .info p {
    font-size: 0.7rem;
  }
  section .experience-div .card-wrapper .card .info h4 {
    font-size: 0.8rem;
  }
  .sec-5 .languages-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    border-radius: 5px;
  }
  .sec-6 {
    font-size: 0.9rem;
  }
  .sec-6 .project-container {
    margin-top: 1.5rem;
  }
  .sec-6 .project-container .project-div {
    margin-bottom: 3rem;
    margin-top: 0;
  }
  .sec-6 .project-container .project-div:last-child {
    margin-bottom: 1.2rem;
  }
  .sec-6 .project-container .project-div img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.5rem;
  }
  .neon-button {
    margin: 0 0.9rem;
  }
  .wrapper {
    padding: 0 8%;
  }
  section h1 {
    font-size: 1.6rem;
  }
  footer h1 {
    font-size: 1.8rem;
  }
  .line-left {
    right: 0.3px;
    width: 3px;
  }
  .line-right {
    left: 0;
    width: 3px;
  }
}
@media screen and (max-width: 414px) {
  .sec-1 {
    display: grid;
    grid-template-columns: 182px 1fr;
  }
  .sec-2 {
    margin-top: 2.5rem !important;
  }
}
@media screen and (max-width: 382px) {
  .sec-1 {
    display: grid;
    grid-template-columns: 182px 1fr;
  }
  .sec-1 img {
    width: 139px !important;
    height: 139px !important;
  }
}
@media screen and (max-width: 350px) {
  .sec-1 {
    grid-template-columns: 172px 1fr;
  }
  .sec-1 img {
    width: 129px !important;
    height: 129px !important;
  }
}
@media screen and (max-width: 320px) {
  .sec-1 {
    grid-template-columns: 155px 1fr;
  }
  .sec-1 img {
    width: 129px !important;
    height: 129px !important;
  }
}
@media screen and (max-width: 570px) {
  .links {
    display: flex;
    justify-content: center;
  }
  .links a {
    margin: 0 16px !important;
  }
}
@media screen and (max-width: 350px) {
  .sec-2 {
    margin-top: 3rem;
  }
  .wrapper {
    padding: 0 5%;
  }
  .neon-button {
    margin: 0 0.3rem;
  }
}/*# sourceMappingURL=styles.css.map */